<form method="post" action="{{ path('app_r_s_s_object_delete', {'id': r_s_s_object.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ r_s_s_object.id) }}">
    <button class="btn">Delete</button>
</form>
