{% extends 'base.html.twig' %}

{% block title %}Edit RSSObject{% endblock %}

{% block body %}
    <h1>Edit RSSObject</h1>

    {{ include('rss_object/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_r_s_s_object_index') }}">back to list</a>
{% endblock %}
