{% extends 'base.html.twig' %}

{% block title %}New RSSObject{% endblock %}

{% block body %}
    <h1>Create new RSSObject</h1>

    {{ include('rss_object/_form.html.twig') }}

    <a href="{{ path('app_r_s_s_object_index') }}">back to list</a>
{% endblock %}
